


# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:andreacastillo.dev
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?andreacastillo.dev
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:andreacastillo.dev
